
<!-- MAIN CONTENT AREA -->
        <div class="main-content"><!-- Sermons update -->
<style type="text/css">

			/*Generic page style*/

		body{
			font:normal 13px/16px 'trebuchet MS', sans-serif;
			margin:10px;
			background: #ffffff;
		}
		.wrapper{
			position:relative;
			padding-top:90px;
			padding-left:50px;
			width:80%;
			margin:auto
		}
		.wrapper h1{
			font-family:Arial, Helvetica, sans-serif;
			font-size:26px;
		}
		button{
			padding:3px;
			display:inline-block;
			cursor:pointer;
			font:12px/14px Arial, Helvetica, sans-serif;
			color:#fff;
			background-color:#ccc;
			-moz-border-radius:5px;
			-webkit-border-radius:5px;
			-moz-box-shadow:#999 1px 1px 3px;
			-webkit-box-shadow:#999 1px 1px 3px;
			border:1px solid white;
			text-shadow: 1px -1px 2px #aaa9a9 !important;
		}
		button:hover{
			color:#666;
		}
		hr{
			border:none;
			background-color:#ccc;
			height:1px;
		}

	</style>



  <div class="container">
	<br>
	<a id="m5" class="audio {skin:'black', autoPlay:false, addShadow:false}" href="http://media.cincygrace.com.s3.amazonaws.com/02072016AM-Conquerors-Part-1.mp3">More than conquerers</a>

        <div class="row show-grid">
           <div class="span12">
                        <div id="breadcrumb">
                            <ul>
                                <li class="home"><a href="#">Home</a></li>
                                <li><a href="#">Sermons</a></li>
                                <li>Audio</li>
                            </ul>
                        </div>
            </div>
            <div class="span12">
                <div class="row show-grid">
                    <div class="span9 main-column">

        		<section id="tables">
			<div class="page-header">

          			<div class="bs-docs-example">
            				<table class="table table-hover">
              				<thead>
               				 <tr>
                  				<th>Sermon</th>
						<th>Series</th>
                  				<th>Date</th>
						<th>Download</th>
						<th>Notes</th>
                			</tr>
              				</thead>
            {{#each sermons.mainSermons}}
            <tbody>
              <tr>
                <td> <a onclick="onLinkClick('http://media.cincygrace.com.s3.amazonaws.com/{{this.file}}','{{this.title}}','{{this.date}}')"> {{this.title}}</a></td>
                <td>{{this.album}}</td>
                <td>{{this.dateString}} {{this.am}}</td>
                <td><a href="http://media.cincygrace.com.s3.amazonaws.com/{{this.file}}">
                  <img alt="" style=" margin-left: auto; margin-right: auto; display: block;" src="/assets/img/download-icon.png" /></a></td>
                <td><a href="">
                  <img alt="" style=" margin-left: auto; margin-right: auto; display: block;" src="/assets/img/1x1.png" />
              </tr>
            </tbody>
            {{/each}}
      	</table>

<h2>Guest Speakers</h2>

	<table class="table table-hover">
              				<thead>
               				 <tr>
                  				<th>Sermon</th>
						<th>Speaker</th>
                  				<th>Date</th>
						<th>Download</th>
						<th>Notes</th>
                			</tr>
              				</thead>
              {{#each sermons.guestSermons}}
              <tbody>
                <tr>
                  <td> <a onclick="onLinkClick('http://media.cincygrace.com.s3.amazonaws.com/{{this.file}}','{{this.title}}','{{this.date}}')"> {{this.title}}</a></td>
                  <td>{{this.artist}}</td>
                  <td>{{this.dateString}} {{this.am}}</td>
                  <td><a href="http://media.cincygrace.com.s3.amazonaws.com/{{this}}">
                    <img alt="" style=" margin-left: auto; margin-right: auto; display: block;" src="/assets/img/download-icon.png" /></a></td>
                  <td><a href=""> <img alt="" style=" margin-left: auto; margin-right: auto; display: block;" src="/assets/img/1x1.png" />
                </tr>
              </tbody>
              {{/each}}
 			</table>
         			 </div>
         <a href="/sermons/?page=older" >Older Sermons</a>
        		</section>
                      </div>
                   </div>
                </div>
              </div>
                <hr>

            </div>
